.bottom-play-bar {
  height: 85px;
  width: 100%;
  background-color: green;
  position: fixed;
  bottom: 0px;
}
.section-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
audio::-webkit-media-controls-panel {
  background-color: rgba(0, 128, 0, 0.9);

  border: none;
}
audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}
audio::-webkit-media-controls-volume-slider {
  color: white;
}
