<div class="spotify__home-container row">
  <div class="spotify__home-container_side-bar col-2">
    <div class="spotify__home-container_side-bar-item">
      <img
        class="m-3 text-left"
        src="assets/Spotify_Light.png"
        width="150"
        alt="Spotify light logo"
      />
    </div>
    <div
      class="spotify__home-container_side-bar-item"
      style="font-weight: bold"
      (click)="onNavigate('home')"
    >
      <a>Home</a>
    </div>
    <div
      class="spotify__home-container_side-bar-item"
      style="font-weight: bold"
      (click)="onNavigate('search')"
    >
      <a>Search</a>
    </div>
    <div
      class="spotify__home-container_side-bar-item"
      style="font-weight: bold"
      (click)="onNavigate('library')"
    >
      <a>your Library</a>
    </div>
    <div
      class="spotify__home-container_side-bar-item"
      style="font-weight: bold"
      (click)="onNavigate('playlist')"
    >
      <a>Create playlist</a>
    </div>
  </div>

  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>

    <div [style.paddingTop]="'40px'" class="mt-5 container-fluid">
      <h4 [style.color]="'white'" [style.padding]="'10px'">Focus</h4>
      <div class="playlist_card_collections">
        <div id="song_card_item" *ngFor="let sc of songCards">
          <app-song-card>
            [playlistThumbnail]="sc.thumbnail" [title]="sc.title"
            [description]="sc.description"
          </app-song-card>
        </div>
      </div>

      <div class="playlist_card_collections">
        <div id="song_card_item" *ngFor="let sc of songCards">
          <app-song-card>
            [playlistThumbnail]="sc.thumbnail" [title]="sc.title"
            [description]="sc.description"
          </app-song-card>
        </div>
      </div>
    </div>
  </div>
</div>
