.spotify__home-container {
  height: 100%;
}
.spotify__home-container_side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.spotify__home-container_playlist-container {
  background-color: #1e1e1e;
  height: 100vh;
  padding: 0px;
  overflow-y: auto;
}

.spotify__home-container_playlist-container ::-webkit-scrollbar {
  display: none;
}
.spotify__home-container_side-bar-item {
  font-size: 16px;
  width: 100%;
  margin: 10px;
  margin-left: 10px;
  padding-left: 18px;
}
.spotify__home-container_side-bar-item a {
  text-decoration: none;
  color: white;
}
.spotify__home-container_side-bar-item a:hover {
  cursor: pointer;
  color: green;
}
.playlist_card_collections {
  display: flex;
  gap: 20px;
  max-width: 100%;
  overflow-x: auto;
  padding-right: 10px;
}
.playlist_card_collections ::-webkit-scrollbar {
  display: none;
}
#song_card_item {
  max-height: 260px;
  min-width: 185px;
}
.spotify__home_content {
  width: 100%;
}
